@import utils/helpers

.container
    width: 100%
    background: $b1
    position: sticky
    z-index: 10
    top: 0
    height: 64px
    +m
        height: 48px

.inner
    height: 100%
    padding-right: $default-padding
    @include element-flex(row, space-between, center)
    gap: $default-gap

.corner_container
    @include element-flex(row, center, center)

.button_container
    width: 64px
    @include element-flex(row, center, center)
    +m
        width: 48px

.corner_button
    height: 24px
    width: 44px
    @include element-flex(column, space-between, center)
    background-color: transparent
    border: 0
    &:hover
        cursor: pointer
        .corner_line
            background-color: $w
    +m
        width: 32px
        height: 18px

.corner_line
    width: 100%
    height: 2px
    background-color: $w3

.login
    color: $w
    background-color: $heavy-red
    padding-inline: $big-padding
    padding-top: $medium-padding
    padding-bottom: $medium-padding
    border-radius: $default-radius
    border: 0
    &:hover
        cursor: pointer
        background-color: $red
    +title-s

.logout
    color: $w
    background-color: transparent
    border: 2px solid $w3
    padding-inline: $big-padding
    padding-top: $medium-padding
    padding-bottom: $medium-padding
    border-radius: $default-radius
    &:hover
        cursor: pointer

.logout_text
    &:hover
        color: $w
    +title-s
