@import 'styles'

.container
    @include element-flex(column, flex-start, flex-start)
    gap: $value-4
    +m
        gap: $value-2

.content
    @include element-flex(column, center, flex-start)
    gap: $value-2
    color: $bw
    +label-16
    +m
        +label-12
    span
        color: $w
        +label-14
        +m
            +label-10

.developers
    @include element-flex(row, flex-start, center)
    flex-wrap: wrap
    gap: $value-4
    color: $bw
    +label-16
    +m
        +label-12

.released_on
    width: 100%
    box-sizing: border-box
    color: $w
    text-wrap: wrap
    overflow-wrap: break-word
    +label-16
    +s
        +label-12
    span
        color: $bw

.released_on_row
    @include element-flex(row, flex-start, center)
    gap: $value-2

.released_on_box
    background: $bw
    color: $b
    border-radius: $value-1
    padding-inline: $value-2
    +label-16
    +s
        +label-12
