@import utils/helpers

.container
    width: 100%
    min-height: 100vh
    display: flex
    flex-direction: column
    margin: 0

.content
    width: 100%
    flex: 1
    display: flex

.inner
    width: 100%
    flex: 1
    background-color: $b
    display: flex
