@import 'styles'

.container
    @include element-flex(row, center, center)
    border: 2px solid $bw
    padding: $value-2 $value-4
    border-radius: $value-3
    background: none
    &:hover
        cursor: pointer
        border-color: $w
        .text
            color: $w

.text
    color: $bw
    +label-20
    +m
        +label-16
