@import 'styles'

.score
    border-radius: $value-3
    height: 80px
    width: 80px
    @include element-flex(row, center, center)
    color: $w
    +title-32
    font-weight: 900
    &.scale
        +m
            height: 60px
            width: 60px
            +title-24
        +s
            height: 51px
            width: 51px
            +title-16

.green
    background: $green4

.yellow
    background: $yellow4

.red
    background: $red4
