@import 'styles'

.container
    width: 100%
    @include element-flex(row)
    box-sizing: border-box
    position: relative
    gap: $value-1
    height: 48px
    +m
        height: 32px

.input
    height: 100%
    width: 100%
    box-sizing: border-box
    border-radius: $value-2
    padding: 0 12px
    outline: 0
    background: $b2
    border: 2px solid $b3
    color: $bw
    +label-20
    +m
        +label-16
    &.open
        border-color: $b4
        color: $w
        + .svg
            fill: $b7

.svg
    position: absolute
    right: 0
    top: calc(50% - $value-3)
    right: $value-3
    fill: $b5
