@import 'styles'

.container
    box-sizing: border-box
    color: $w
    text-wrap: wrap
    overflow-wrap: break-word
    @include element-flex(row, flex-start, center)
    gap: $value-2
    +label-16
    +m
        +label-12
    span
        color: $bw

.item
    background: $bw
    color: $b
    border-radius: $value-1
    padding-inline: $value-2
    +label-16
    +m
        +label-12
        padding-inline: $value-1
