@import utils/helpers

.container
    width: 100%

.row
    @include element-flex(row, space-between, center)

.text
    +text-s
    color: $w2

.button
    border: 0
    background: none
    padding: 0 4
    +text-t
    color: $w3
    svg
        fill: $w3
    &:hover
        cursor: pointer
        color: $w
        svg
            fill: $w

.button_row
    @include element-flex(row, center, center)
    gap: 4px

.input
    width: calc(100% - 28px)
    height: 40px
    border: 2px solid $b3
    border-radius: $default-radius
    padding: 0 12px
    +text-m
    outline: 0
