@import 'styles'

.container
    width: 100%
    @include element-flex(column)
    gap: $value-1

.row
    width: 100%
    @include element-flex(row, space-between, center)

.text
    +label-16
    color: $bw

.button
    border: 0
    background: none
    padding: 0 4
    +label-12
    color: $bw
    svg
        fill: $bw
    &:hover
        cursor: pointer
        color: $w
        svg
            fill: $w

.button_row
    @include element-flex(row, center, center)
    gap: 4px

.input
    width: calc(100% - 28px)
    height: 40px
    border-radius: $value-3
    padding: 0 12px
    +label-20
    outline: 0
    background: $b2
    border: 2px solid $b3
    color: $bw
    &:focus
        border-color: $b4
        color: $w
