@import 'styles'

.container
    @include element-flex(row, flex-start, center)
    gap: $value-4
    flex-wrap: wrap
    +m
        gap: $value-2

.row
    @include element-flex(row, flex-start, center)
    gap: $value-2
    padding: $value-2
    background: $b2
    border-radius: $value-3
    color: $bw
    +label-16
    +m
        +label-12

.image
    height: 36px
    width: 36px
    border-radius: $value-1
    +m
        height: 24px
        width: 24px
