@import 'styles'

.column
    @include element-flex(column)
    gap: $value-2
    background: $b1
    border-radius: $value-3
    box-sizing: border-box
    width: 160px

.image
    width: 100%
    aspect-ratio: 144 / 205
    border-radius: $value-3 $value-3 0 0
    object-fit: fill

.content
    @include element-flex(column)
    padding: $value-2
    gap: $value-2

.name
    width: 100%
    word-break: break-word
    @include limit-lines(2)
    color: $w
    +label-14

.character
    width: 100%
    color: $b9
    word-break: break-word
    @include limit-lines(2)
    +label-12
