@import utils/helpers

.container
    @include element-flex(row, center, center)
    border: 2px solid $bw
    padding-inline: 8px
    border-radius: $value-3
    background: none
    height: 32px
    &:hover
        cursor: pointer
        border-color: $w
        .text
            color: $w
        .svg
            fill: $w

.svg
    fill: $bw

.text
    color: $bw
    +text-s
