@import 'styles'

.container
    width: 100%
    border-radius: $value-4
    background: $b1
    box-sizing: border-box
    @include element-flex(column,space-between,flex-start)
    gap: $value-4
    padding: $value-4
    +m
        height: fit-content

.loading
    width: 100%
    height: calc(100% / 3 - $value-4*2)
    +m
        height: 105px
