@import utils/helpers

.container
    flex: 1
    margin: 12px
    @include element-flex(column, center, center)
    gap: $value-6

.content
    width: 80%
    background: $b1
    margin: $value-12
    border-radius: $value-6
    @include element-flex(row, flex-start, flex-start)
    +m
        border-radius: $value-3
        margin: $value-6

.back_button
    position: absolute
    top: 24px
    left: 24px

.logo
    position: absolute
    top: 24px
    right: 24px
    height: 33px
    @include element-flex(row, center, center)

.image
    width: calc(100% - 400px)
    min-height: 500px
    height: 100%
    object-fit: cover
    border-radius: $value-6 0 0 $value-6

.register_container
    width: 400px
    padding-inline: 12px
    align-self: stretch
    padding-top: $value-3
    padding-bottom: $value-3
    background: $b1
    border-radius: 0 $value-6 $value-6 0
    @include element-flex(column, center, center)
    gap: 24px
    +m
        border-radius: $value-3
        width: 100%

.title
    +title-g
    color: $w

.error_container
    width: 100%
    @include element-flex(row, center, center)
    gap: $value-2

.error_icon
    background-color: $red4
    @include element-flex(column, center, center)
    border-radius: 50%
    padding: $value-1
    +m
        padding: 0

.svg
    fill: $w3

.error
    color: $red4
    +text-s
    +m
        +text-t

.modal_container
    width: 100%
    height: 100%
    @include element-flex(column, center, center)

.success
    background: $b1
    color: $w1
    padding: $value-6
    border-radius: $value-3
    @include element-flex(column, center, center)
    gap: $value-3
    border: 2px solid $b2

.success_button_container
    @include element-flex(row, center, center)
    border: 2px solid $bw
    padding: 8px 16px
    border-radius: $value-3
    background: none
    &:hover
        cursor: pointer
        border-color: $w
        background: $b2
        .success_button_text
            color: $w
        .svg
            fill: $w

.success_button_text
    color: $bw
    +text

.bottom_text
    @include element-flex(column, center, center)
    color: $w

.login_link
    text-decoration: underline
    &:hover
        cursor: pointer
        color: $blue6
