@import utils/helpers

.container
    width: 100%

.text
    +text-s
    color: $w2

.input
    width: calc(100% - 28px)
    height: 40px
    border: 2px solid $b3
    border-radius: $default-radius
    padding: 0 12px
    +text-m
    outline: 0
