@import 'styles'

.container
    width: 100%

.text
    +label-16
    color: $w2

.input
    width: calc(100% - 28px)
    height: 40px
    border: 2px solid $b3
    border-radius: $value-3
    padding: 0 12px
    +label-20
    outline: 0
