@import 'styles'

.item
    width: 100%
    min-width: 640px
    border-radius: $value-3
    background-color: $b2
    box-sizing: border-box
    padding-top: $value-4
    padding-bottom: $value-4
    @include element-flex(column, flex-start, flex-start)
    gap: $value-4
    +m
        min-width: 320px

.row
    width: 100%
    box-sizing: border-box
    @include element-flex(row, space-between, center)
    gap: $value-2
    padding-inline: $value-4

.column
    align-self: stretch
    @include element-flex(column, space-between, flex-start)
    gap: $value-2
    color: $b9
    +label-12
    +m
        +label-10

.description
    width: 100%
    box-sizing: border-box
    word-break: break-all
    padding-inline: $value-4
    color: $bw
    +label-16
    +m
        +label-12

.separator
    width: 100%
    height: 2px
    background: $bw

.content
    width: 100%
    box-sizing: border-box
    padding-inline: $value-4
    @include element-flex(column, center, flex-start)
    gap: $value-2
    color: $bw
    +label-16
    +m
        +label-12
    span
        color: $w
        +label-14
        +m
            +label-10

.platforms
    @include element-flex(row, flex-start, center)
    flex-wrap: wrap
    gap: $value-4
    color: $bw
    +label-16
    +m
        +label-12

.platform
    background-color: $b3 !important
