@import 'styles'

.container
    padding-top: $value-2
    width: 100%
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
    gap: $value-4
    box-sizing: border-box
    &.size_1
        max-width: calc(300px * 1 + $value-4 * 0)
    &.size_2
        max-width: calc(300px * 2 + $value-4 * 1)
    &.size_3
        max-width: calc(300px * 3 + $value-4 * 2)
    &.size_4
        max-width: calc(300px * 4 + $value-4 * 3)

.no_data
    width: 100%
    box-sizing: border-box
    padding-inline: $value-4
    text-align: center
    color: $bw
    +label-16
    +m
        +label-12
