@import utils/helpers


.logo
    @include element-flex(row, center, center)
    gap: $tiny-gap

.image
    width: 48px
    height: 48px
    +m
        width: 36px
        height: 36px

.text
    color: $w
    +logo
    +m
        +logo-s
