@import utils/helpers

.logo
    @include element-flex(row, center, center)
    gap: $tiny-gap
    background-color: transparent
    border: 0
    padding: 0
    &:hover
        cursor: pointer

.image
    width: 48px
    height: 48px
    +m
        width: 32px
        height: 32px

.text
    color: $w
    +logo
    +m
        +logo-s
