@import 'styles'

.content
    width: 100%
    @include element-flex(column)
    gap: $value-4

.top_row
    width: 100%
    @include element-flex(row, space-between, center)
    gap: $value-2

.title
    width: 100%
    color: $w
    +label-32
    +m
        +label-24

.separator
    width: 100%
    height: 2px
    background-color: $bw

.loading_card
    width: 100%
    height: 200px
    border-radius: $value-4
    background: $b1
    +m
        height: 150px

.container
    width: 100%
    @include element-flex(column)
    gap: $value-4

.column
    width: 100%
    @include element-flex(column,center,center)
    gap: $value-4

.empty
    width: 100%
    text-align: center
    +label-20
    color: $bw
