@import utils/helpers

.container
    position: relative

.container_top
    background: $b1
    padding-right: $default-padding
    padding-left: $small-padding
    padding-top: $small-padding
    padding-bottom: $small-padding
    +m

.header
    @include element-flex(row, space-between, center)
    gap: $default-gap
    height: 100%

.login
    color: $w
    background-color: $heavy-red
    padding-inline: $big-padding
    padding-top: $small-padding
    padding-bottom: $small-padding
    border-radius: $default-radius
    border: 0
    &:hover
        cursor: pointer
        background-color: $red
    +title
    +m
        +title-s

.corner_container
    @include element-flex(row, center, center)

.button_container
    width: 52px
    @include element-flex(row, center, center)

.corner_button
    height: 24px
    width: 42px
    @include element-flex(column, space-between, center)
    background-color: transparent
    border: 0
    &:hover
        cursor: pointer
        .corner_line
            background-color: $w
    +m
        width: 32px
        height: 18px

.corner_line
    width: 100%
    height: 2px
    background-color: $w3

.container_left
    position: absolute
    top: 64px
    width: 64px
    height: calc(100vh - 64px)
    background: $b1
    @include element-flex(column, flex-start, flex-start)
    gap: $small-gap
    +m
        top: 50px
        height: calc(100vh - 50px)

.container_left_open
    position: absolute
    top: 64px
    width: 192px
    height: calc(100vh - 64px)
    background: $b1
    @include element-flex(column, flex-start, flex-start)
    gap: $small-gap
    +m
        top: 50px
        height: calc(100vh - 50px)
