@import 'styles'

.container
    width: 100%
    @include element-flex(row)
    gap: $value-4
    flex-wrap: wrap

.loading_card
    width: calc(50% - $value-2)
    height: 192px
    border-radius: $value-4
    background: $b1
    box-sizing: border-box
    @include element-flex(row)
    align-self: stretch
    +b
        min-width: 0
        width: 100%
    +m
        height: 152px
    &:hover
        cursor: pointer
        background: $b2

.no_data
    width: 100%
    box-sizing: border-box
    padding-inline: $value-4
    text-align: center
    color: $bw
    +label-16
    +m
        +label-12
