@import 'styles'

.row
    width: 100%
    @include element-flex(row, flex-start, center)
    gap: $value-1
    padding: $value-1
    background: $b2
    border-radius: $value-2
    color: $bw
    &:hover
        color: $w
        background: $b3
    +label-16
    +m
        +label-12
        width: fit-content
    &.small
        +label-12

.clickable
    &:hover
        cursor: pointer

.selected
    background: $blue2
    &:hover
        background: $blue3

.image
    height: 24px
    width: 24px
    border-radius: $value-1
    object-fit: contain
    background-color: $b9
    padding: 2px
    +m
        height: 20px
        width: 20px
    &.small
        height: 20px
        width: 20px
