@import 'styles'
.container
    width: 100%
    padding: $value-6
    display: flex
    justify-content: center
    justify-items: flex-start
    box-sizing: border-box

.background
    background: linear-gradient(to top, $b 75%, $red3)
    background-repeat: no-repeat
    background-attachment: fixed

.content
    max-width: 1320px
    display: flex
    width: 100%

.content_button
    position: relative
    margin-top: $value-14

.button
    position: absolute
    left: 0
    top: -$value-14
