@import 'styles'

.container
    width: 100%
    @include element-flex(column)
    gap: $value-4

.top_row
    width: 100%
    @include element-flex(row,center,center)
    gap: $value-2

.title
    width: 100%
    color: $w
    word-break: break-all
    @include limit-lines(1)
    +label-32
    +m
        +label-24

.user_image
    box-sizing: border-box
    border-radius: $value-2
    border: 2px solid $bw
    height: 48px
    width: 48px
    +m
        border-radius: $value-1
        height: 32px
        width: 32px

.separator
    width: 100%
    height: 2px
    background-color: $bw

.content
    width: 100%
    @include element-flex(column)
    gap: $value-8

.tabs
    width: 100%
    @include element-flex(row)
    gap: $value-4
