@import utils/helpers

.container
    background-color: transparent
    border: 0
    padding: 0 $default-padding 0 0
    width: 100%
    height: 64px
    transition: 0.5s
    @include element-flex(row, space-between, center)
    +m
        height: 48px
    &:hover
        cursor: pointer
        background-color: $b2
        .title
            color: $w
        .icon
            border-color: $w
            .svg
                fill: $w

.container_focused
    background-color: $b2
    .title
        color: $w
        .icon
            border-color: $w
            .svg
                fill: $w
        .arrow
            fill: $w3

.row
    @include element-flex(row, flex-start, center)

.icon_container
    width: 64px
    min-width: 64px
    height: 100%
    @include element-flex(row, center, center)
    +m
        width: 48px
        min-width: 48px

.icon
    border: 1px solid $w3
    border-radius: 50%
    height: 40px
    width: 40px
    .svg
        fill: $w3
    +m
        height: 24px
        width: 24px

.title
    +text-s
    width: 128px
    color: $w3
    white-space: nowrap
    text-align: left
    +m
        +title-t
        width: 64px

.arrow
    transform: rotate(180deg)
    fill: $w3
