@import utils/helpers

.container
    background-color: transparent
    border: none
    padding: 0
    width: 192px
    height: 64px
    transition: 0.5s
    @include element-flex(row, flex-start, center)
    +m
        height: 48px
        width: 128px
    &:hover
        cursor: pointer
        .title
            color: $w
        .icon
            border-color: $w
            .svg
                fill: $w

.icon_container
    width: 64px
    height: 100%
    @include element-flex(row, center, center)
    +m
        width: 48px

.icon
    border: 2px solid $w3
    border-radius: 50%
    height: 48px
    width: 48px
    .svg
        fill: $w3
    +m
        height: 32px
        width: 32px

.title
    +title-s
    width: 128px
    color: $w3
    white-space: nowrap
    text-align: left
    +m
        +title-t
        width: 64px
