// media queries
=m
    @media only screen and (max-width: "1000px")
        @content

=s
    @media only screen and (max-width: "600px")
        @content

// colors
$w: #ffffff
$w1: #fff6f6
$w2: #efe5e5
$w3: #ded4d4
$w4: #b9b0b0
$b5: #999090
$b4: #716868
$b3: #5d5555
$b2: #3e3636
$b1: #1d1717
$b: #000000

$red: #b94646
$heavy-red: #8A0D0D
$full-red: #ff0000
$light-blue: #b7d7e8
$blue: #0096FF
$full-blue: #0000ff

// layout
$default-radius: 12px
$big-radius: 24px
$giant-radius: 48px

$tiny-gap: 2px
$small-gap: 6px
$default-gap: 12px
$big-gap: 24px

$tiny-padding: 2px
$small-padding: 6px
$medium-padding: 8px
$default-padding: 12px
$big-padding: 24px
$giant-padding: 48px

// typography
=logo
    font-size: 28px
    font-weight: 600
    font-style: normal

=logo-s
    font-size: 18px
    font-weight: 600
    font-style: normal

=text-t
    font-size: 12px
    font-weight: 500
    font-style: normal

=text-s
    font-size: 16px
    font-weight: 500
    font-style: normal

=text-m
    font-size: 20px
    font-weight: 500
    font-style: normal

=text-b
    font-size: 24px
    font-weight: 500
    font-style: normal

=title
    font-size: 24px
    font-weight: 600
    font-style: normal

=title-m
    font-size: 20px
    font-weight: 600
    font-style: normal

=title-s
    font-size: 16px
    font-weight: 600
    font-style: normal

=title-t
    font-size: 12px
    font-weight: 600
    font-style: normal

=title-g
    font-size: 32px
    font-weight: 700
    font-style: normal

// flex
@mixin element-flex($d, $j: 'flex-start', $a: 'flex-start')
    display: flex
    flex-direction: $d
    justify-content: unquote($j)
    align-items: unquote($a)
