@import 'styles'

.column
    @include element-flex(column)
    background: $b2
    border-radius: $value-3
    width: 160px
    +m
        width: 136px

.image
    width: 100%
    aspect-ratio: 1 / 1
    border-radius: $value-3 $value-3 0 0
    object-fit: cover

.content
    @include element-flex(column)
    padding: $value-2

.name
    width: 100%
    color: $w
    word-break: break-word
    @include limit-lines(2)
    +label-18
    +m
        +label-14
